html{
    overflow-x: hidden;
    margin:0;
    padding:0;
}
body{
    font-family: Haptik--regular, sans-serif;
    color:white;
    margin:0;
    padding:0;
    background: #444444;
}

button{
    border-radius:4px;
    cursor: pointer;
    background: #5a5a5a;
    margin:5px 0;
    padding:3px 6px;
    border:none;
    color:inherit;
    font:inherit;
}

#TOOLBAR{
    background: #3b3b3b;
    min-height:20px;
    padding:5px;
}

.dropdown {
    border-radius:2px;
    width:50px;
    text-align:center;
    padding:2px 4px;
    position: relative;
    display: inline-block;
    background: #5c5c5c;
}

.dropdown-content {
    text-align:left;
    display: none;
    position: absolute;
    background-color: #727272;
    min-width: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 204;
    left:0;
    border-radius:2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-button{
    border-radius:2px;
    cursor: pointer;
    background: #868686;
    margin:6px;
    padding:3px;
}
.dropdown-button:hover{
    background: #939393;
}

#WORKSPACE{
    width:500px;
    height:500px;
    border:1px black solid;
    float:left;
    background:white;
}
#PROPERTIES{
    margin: 10px;
    display:inline-block;
}
#pixelSizes{
    display:inline-block;
    margin:0;
}
#PROPERTIES div{
    margin:5px;
}
#TIMELINE{
    display:inline-block;
    margin:10px;
    width:100%;
}
#FILE_SELECT{
    z-index:203;
    background:rgba(0,0,0,0.2);
    display:flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
}
#FILE_SELECT div{
    background: #ececec;
    position:absolute;
    text-align:center;
    padding:40px 5px;
    z-index:204;
}
canvas{
    position:absolute;
    left:9px;
}
#cursor{
    z-index:201;
}
#clickGetter{
    z-index:203;
}
#addGradient{
    display: none;
}
